n8n-workflows/05-email-intelligence.json
{
  "name": "CRM — Analyse emails IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email.received",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "webhook",
      "name": "Webhook email.received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "email-received"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails/prompt?emailId={{ $json.body.payload.emailId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-n8n-secret", "value": "={{ $vars.CRM_N8N_SECRET }}" }]
        },
        "options": {}
      },
      "id": "get-prompt",
      "name": "Récupérer prompt enrichi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $vars.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.2 } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-gemini",
      "name": "Appeler Gemini IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\nconst promptData = $('Récupérer prompt enrichi').first().json;\n\n// Extract raw text from Gemini response\nconst rawAnalysis = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nif (!rawAnalysis) {\n  throw new Error('Gemini returned empty response');\n}\n\nreturn [{ json: {\n  emailId: promptData.emailId,\n  rawAnalysis: rawAnalysis\n} }];"
      },
      "id": "extract-result",
      "name": "Extraire résultat Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-n8n-secret", "value": "={{ $vars.CRM_N8N_SECRET }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ emailId: $json.emailId, rawAnalysis: $json.rawAnalysis }) }}",
        "options": {}
      },
      "id": "store-analysis",
      "name": "Stocker analyse dans CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook email.received": { "main": [[{ "node": "Récupérer prompt enrichi", "type": "main", "index": 0 }]] },
    "Récupérer prompt enrichi": { "main": [[{ "node": "Appeler Gemini IA", "type": "main", "index": 0 }]] },
    "Appeler Gemini IA": { "main": [[{ "node": "Extraire résultat Gemini", "type": "main", "index": 0 }]] },
    "Extraire résultat Gemini": { "main": [[{ "node": "Stocker analyse dans CRM", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "CRM Courtage" }]
}
