n8n-workflows/10-email-analysis-queue.json
{
  "name": "CRM — Email Analysis Queue",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails/pending?limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $vars.CRM_N8N_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-pending",
      "name": "Fetch pending emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.pending }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-pending",
      "name": "Has pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "split-emails",
      "name": "Split emails",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        680,
        -100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails/prompt?emailId={{ $json.emailId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $vars.CRM_N8N_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-prompt",
      "name": "Get AI prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "analyse-ia",
      "name": "Mistral Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1120,
        -100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "mistral-cloud",
      "name": "Mistral Cloud",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "CdSbi4XuMx1nfOSD",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const g=$input.first().json;const d=$('Get AI prompt').first().json;const t=g.response||g.text||g.output||'{}';let a;try{a=JSON.parse(t)}catch(e){const m=t.match(/\\\\{[\\\\s\\\\S]*\\\\}/);if(m){try{a=JSON.parse(m[0])}catch(e2){a={type:'autre',urgence:'basse',resume:t.substring(0,200)}}}else{a={type:'autre',urgence:'basse',resume:t.substring(0,200)}}}return[{json:{emailId:d.emailId,clientId:d.clientId,...a}}];"
      },
      "id": "parse-result",
      "name": "Parse AI result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $vars.CRM_N8N_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "store-analysis",
      "name": "Store in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const emailId = $('Split emails').first().json.emailId || 'unknown';\nconst errorMsg = $input.first().json.error?.message || 'AI analysis failed';\nreturn [{json:{emailId, status:'erreur', error: errorMsg}}];"
      },
      "name": "Handle error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.CRM_BASE_URL }}/api/n8n/emails/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $vars.CRM_N8N_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "name": "Report error to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const waitMs = 2000;\nawait new Promise(r => setTimeout(r, waitMs));\nreturn $input.all();"
      },
      "name": "Rate limit delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        790,
        -100
      ]
    }
  ],
  "connections": {
    "Every 30 minutes": {
      "main": [
        [
          {
            "node": "Fetch pending emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch pending emails": {
      "main": [
        [
          {
            "node": "Has pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has pending?": {
      "main": [
        [
          {
            "node": "Split emails",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split emails": {
      "main": [
        [
          {
            "node": "Rate limit delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI prompt": {
      "main": [
        [
          {
            "node": "Mistral Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Analysis": {
      "main": [
        [
          {
            "node": "Parse AI result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI result": {
      "main": [
        [
          {
            "node": "Store in CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Handle error": {
      "main": [
        [
          {
            "node": "Report error to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate limit delay": {
      "main": [
        [
          {
            "node": "Get AI prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "CRM Courtage"
    }
  ]
}